@import "../../variables.scss";

.org-page  {
  .card {
    width: 100%;
    height: 263px;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
