@import "./assets/styles/variables";
@import "~taro-ui/dist/style/components/icon.scss";

body, html, page {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.flex1 { flex: 1; }

.title {
  font-size: 40px;
  margin-top: 39.6px;
}

.second-title {
  font-size: 30px;
}

.space {
  margin-top: 20px;
}

.input {
  height: 83px;
  border-radius: 10px;
  padding: 10px 10px 10px 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border: 1px solid rgba(212,220,228,1);
}

.button {
  height: 90.5px;
  line-height: 90px;
  font-size: 43.5px;
}

.button-primary {
  background-color: $mainColor;
  color: white;
  border: 0;
}

.button-tiny {
  height: 50px;
  line-height: 50px;
  font-size: 28px;
}

.button-round {
  border-radius: 45px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  flex: 1;
  display: flex;
  width: 100%;
  min-height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $bgColor;
}

.main-button {
  background: linear-gradient(149deg, rgba(1,203,255,1) 0%, rgba(1, 105, 255, 1) 100%);
  border-radius: 8px;
  border: 0;
  color: white;
}
