.staffs-page {
  .add-staff-button {
    margin: 30px auto;
  }

  .picker {
    padding: 20px 20px 20px 0;
    margin-left: 28px;
    border-bottom: 1PX solid #d6e4ef;
  }

  .page-section {
    display: flex;
    padding: 20px;

    text {

    }
  }
}
