@import "~@arrplat/ui/src/theme/variables";

// main
$mainColor: #3181DE;

$secondColor: #a1bede;

$borderColor: #e2e8f0;
$borderSecondColor: #E2E2EA;

$editor-text-color: #000000cc;
$editor-main-color: #00b4ff;
$editor-border-active-color: #00b4ff;

$editor-text-active-color: $editor-main-color;
$editor-node-border-color: $editor-border-active-color;


$bg-02: #f3f6fb;

$gray-01: #f1f2f5;
$gray-02: #f4f7fd;

:export{
  mainColor : $mainColor
}
