.app-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;

  .app-image {
    width: 113px;
    height: 113px;
    border-radius: 50%;
  }

  .app-name  {
    margin-top: 19px;
    font-size: 26px;
  }
}
