.share-toolbar {
  width: 150px;
  flex-direction: row;
  display: flex;

  .share-btn-wrapper {
    background-color: transparent;
    padding: 0;
    border: 0;
    &:after {
      border: 0;
    }
  }
}
