@import "../variables";

.tab-list {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;

  .tab-item {
    padding-right: 40px;
    display: flex;
    align-items: center;
  }

  .tab-name {
    font-size: 29px;

    &.active {
      font-size: 40px;
      border-bottom: 8px solid $tabActive;
    }
  }
}
