@import "variables";

app-page-layout, layout {
  width: 100%;
  min-height: 100%;
}

.page-layout {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

.page-container {
  background-color: $defaultPageBgColor;
  min-height: 100%;
}
