// main
$mainColor: #0182FF;
$borderColor: #e2e8f0;
$borderSecondColor: #E2E2EA;
$panelBgColor: #FFF;

$tabActive: #00ff79;
$default: #E6EBF2;
$defaultIcon: #999999;
$defaultPageBgColor: #F8F8FA;
$dangerColor: #FF6767;


$bgColor: $defaultPageBgColor;

:export {
  mainColor: $mainColor;
  borderColor: $borderColor;
  borderSeconndColor: $borderSecondColor;
}
